name: Build & Deploy Mule 4.9 App to CloudHub 2.0

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Setup Java 17
      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      # Build Mule 4.9 app
      - name: Build Mule App
        run: mvn clean package

      # Run MUnit tests
      - name: Run MUnit Tests
        run: mvn test -Dmunit

      # Install Anypoint CLI v4
      - name: Install Anypoint CLI
        run: npm install -g anypoint-cli-v4

      # Configure Client ID
      - name: Configure Client ID
        run: |
          anypoint-cli-v4 conf client_id 1fa898770800442cabd360822e2ee2f8
      
      # Configure Client Secret
      - name: Configure Client Secret
        run: |
          anypoint-cli-v4 conf client_secret 0285920E69C84f74847B3794176F3fdC
          
      # Configure Organization
      - name: Configure Orgnization
        run: |
          anypoint-cli-v4 conf organization c036a1db-1d0e-44e3-a6fd-508188ecca19

      # Execute Account Environment List
      - name: Execute Account Environment List
        run: |
          anypoint-cli-v4 account:environment:list

      # Publish asset to exchange
      - name: Publish asset to exchange
        run:  | 
          anypoint-cli-v4 exchange:asset:upload c036a1db-1d0e-44e3-a6fd-508188ecca19/mymuleapp/1.0.0-SNAPSHOT --files='{"mule-application.jar": "target/mymuleapp-1.0.0-SNAPSHOT-mule-application.jar"}' --type='jar' --name='mymuleapp'

      # Deploy to CloudHub 2.0
      - name: Deploy to CloudHub 2.0
        run: |
          anypoint-cli-v4 runtime-mgr:application:deploy mymuleapp 51e68b74-34bf-44f9-a9a3-a07afa04e916 4.9.11 mymuleapp --assetVersion 1.0.0-SNAPSHOT --groupId c036a1db-1d0e-44e3-a6fd-508188ecca19 
        
